@model SurveyMonkey.DataTransferObject.Response.SurveyReportResponse

@{
    ViewData["Title"] = "Report";
}

<h1>@Model.SurveyName anketi</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            anket id'si
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyId)
        </dd>
        <dt class="col-sm-2">
           katılımcı sayısı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participant)
        </dd>
        <dt class="col-sm-2">
            anket adı
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyName)
        </dd>
        <dt class="col-sm-2">
            Anket oluşturulma süresi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stopwatch.ElapsedMilliseconds) ms
        </dd>
        @foreach (var question in Model.Questions)
        {
            <div class="m-3" >
                <div class="row bg-info bg-opacity-20" style="text-align:center">
                    @question.Text
                </div>
                @foreach (var choice in question.Choices)
                {
                    <div class="row">
                        <dt class="col-sm-2">
                            @choice.Text
                        </dt>
                        <dd class="col-sm-10">
                            @choice.Count seçim
                            <br>
                            @* @(choice.Count*100/Model.Participant)%*@
                        </dd>
                    </div>

                }
            </div>
        }
    </dl>
</div>
<div>
    <a asp-controller="survey" asp-action="lineanswersreport" asp-route-id="@Model.SurveyId">text cevapları için tıkla</a>
</div>
